<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
  <!--left-fixed -navigation-->
  <aside class="sidebar-left">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <h1><a class="navbar-brand"><span class="fa fa-area-chart"></span> <span class="small-font">{{componentText[0].maintext}}</span><span class="dashboard_text"><h5>{{componentText[0].subtext}}</h5></span></a></h1>
        </div>
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview" *ngFor = "let option of navOptions">
              <a [routerLink] = "'/dashboard' + option.route">
              <i class = "{{option.icon}}"></i><span>{{option.name}}</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <!--Lower Settings -->
    <nav id="advancedOptions" class="navbar navbar-inverse">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="sidebar-menu">
          <li class="treeview" *ngFor = "let option of advancedOptions">
            <a [routerLink] = "'/dashboard' + option.route">
            <i class = "{{option.icon}}"></i><span>{{option.name}}</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
  </nav>
  </aside>
</div>