<!--DashBoard header -->
  <app-headerprimary></app-headerprimary>
  <!--Dashboard Left Options -->
  <app-navprimary></app-navprimary>
  <!--Dashboard workspace -->
  <app-workspace></app-workspace>
<!-- The router outlet is moved to app workspace -->
